.typing-anim {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.path {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: dash 1s ease-in forwards;
}
.path2 {
  stroke-dasharray: 2;
  stroke-dashoffset: 80;
  animation: dash 1s ease-in forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.left-slide-anim {
  animation: 1s ease-out forwards slide-from-left;
}

.right-slide-anim {
  animation: 1s ease-out forwards slide-from-right;
}

@keyframes slide-from-left {
  from {
    left: 0vw;
  }
  to {
    left: 10vw;
  }
}

@keyframes slide-from-right {
  from {
    right: 0vw;
  }
  to {
    right: 10vw;
  }
}

.hcts-background-anim {
  animation: 1.5s ease-out 1s forwards hcts-color-keyframe;
  content: "";
  background-color: black;
}

@keyframes hcts-color-keyframe {
  from {
    background-color: black;
  }
  to {
    background-color: #f1e5d5;
  }
}

.sun-up-anim {
  transform: translateY(100%);
  animation: 1.5s ease-out 1s forwards hcts-sun-up;
}

@keyframes hcts-sun-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.sun-up-anim {
  transform: translateY(100%);
  animation: 1.5s ease-out 1s forwards hcts-sun-up;
}

@keyframes hcts-sun-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.text-fade-in-anim {
  opacity: 0%;
  transform: translateY(100%);
  animation: 1.5s ease-out 2s forwards text-fade-in;
}
@keyframes text-fade-in {
  from {
    opacity: 0%;
    transform: translateY(100%);
  }
  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}
